.Rproj.user
.Rhistory
.RData
.Ruserdata
InventarioFlorestal2020.cst
InventarioFlorestal2020.dbf
InventarioFlorestal2020.prj
InventarioFlorestal2020.shp
InventarioFlorestal2020.shx
InventarioFlorestal2020.zip